* {
    outline: none!important;
}

.dashLeft {
	float: left;
    width: 25%!important;
}

.dashRight {
    float: left;
    width: 75%!important;
}

.objectNumber {
    flex-direction: row;
}

@media (max-width: 479px) {
    .dashLeft {
        width: 100%!important;
    }
    .dashRight {
        width: 100%!important;
    }
    .objectNumber {
        flex-direction: column;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .dashLeft {
        width: 40%!important;
    }
    .dashRight {
        width: 60%!important;
    }
    .objectNumber {
        flex-direction: column;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .dashLeft {
        width: 40%!important;
    }
    .dashRight {
        width: 60%!important;
    }
}

.sapUiTableVSb {
    max-height: none!important;
}

body {
    overflow: hidden;
}

#accountCodeList-searchField {
    display: none;
}

.sapUiBlockCellContent {
    padding: 15px!important;
}

.bgLogin {
    /*background-image: url('login1.png');*/
    background-image: url('borusan-login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.bgColor {
    background-color: #f6e58d !important;
}

.bgColorWhite {
    background-color: white !important;
}

.tile {
    background-color: #f1f2f6 !important;
    /*background-color: #F8EFBA !important;*/
    color: white !important;
}


/*.tile:hover {*/


/*    background: #FFA726 !important;*/


/*    color: white !important;*/


/*}*/

.wait:hover {
    background: #ff9f43 !important;
    color: white !important;
}

.reject:hover {
    background: #e55039 !important;
}

.confirm:hover {
    background: #20bf6b !important;
}

.sapFCard .sapFCardHeader {
    background: #f1f2f6 !important;
}

.date {
    margin-top: 20px!important;
}

.btnDashboard .sapMBtnInner {
    border: 1px solid gray;
    color: #32363A!important;
    justify-content: end!important;
}

.iconDashboard .sapMBtnIcon {
    color: #32363A!important;
}

.iconTabbar .sapMITH {
    background-color: #F7F7F7!important;
}

.btnColor:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.loginInput {
    box-shadow: 2px 3px #999999!important;
}

.btnText {
    color: black!important;
    font-weight: bolder!important;
    font-family: auto!important;
}

.headerFlex .sapMITBHead {
    display: flex!important;
    justify-content: space-around!important;
}

.header {}

.headerTop {
    border-bottom: 1px solid rgba(255, 255, 255, .4);
    /*box-shadow: 0px 1px 10px rgba(0, 0, 0, .1);*/
    /*box-shadow: 10px 10px 10px 10px #999999!important;*/
}

.headerTop .homeButton,
.headerTop .homeButton * {
    background: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
}

.headerTop .homeButton:hover,
.headerTop .homeButton:hover * {
    /*background: #2b7d70;*/
    background: #FF671F;
}


/*.heaaderTop:hover,*/


/*.headerTop:hover * {*/


/*    color: white !important;*/


/*}*/


/*.headerTop:hover {*/


/*    background-color: #515151 !important;*/


/*box-shadow: 2px 3px #999999!important;*/


/*color: white !important;*/


/*}*/

.headerTop {
    /*background: #f1f2f6 !important;*/
    background: #777777;
    /*background: #3F5161;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    padding: 0 25px;
    position: relative;
}

.headerTop .title {
    font-size: 20px!important;
    font-weight: bold!important;
    /*text-shadow: 1px 2px #acb3bb, 0 0 1px #19191b;*/
    color: #fff !important;
    font-family: sans-serif !important;
}


/*.headerTop .title:hover * {*/


/*    color: white !important;*/


/*}*/

.headerTop .panel {
    position: absolute;
    right: 25px;
}

.headerTop .panel * {
    border: none!important;
}

.headerTop * {
    font-size: 15px!important;
    font-weight: bold!important;
    /*color: #FFA726!important;*/
    color: white!important;
    text-align: center!important;
    /*text-shadow: 3px 3px 3px #acb3bb, 0 0 5px #19191b;*/
}

.footerBottom {
    background: #777777;
    padding: 0 25px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footerBottom * {
    font-size: 15px!important;
    font-weight: bold!important;
    color: white!important;
    text-align: center!important;
}

.headerBottom {
    padding: 25px;
    width: 100%;
    background-image: linear-gradient(to right, #2a7a6c, #2d8277, #308982, #34918d, #399999);
}

.headerBottom .sapSuiteRMCCircleBackground {
    stroke: transparent;
    fill: transparent;
}

.headerBottom .sapSuiteRMC.sapSuiteRMCSizeL.sapUiSmallMargin.sapSuiteRMCLookL {
    width: auto;
}

.headerBottom .sapSuiteRMC.sapSuiteRMCLookL .sapSuiteRMCFont,
.headerBottom .sapMText {
    color: #fff;
}

.choosenPaymentAmountOpenPayment * {
    font-size: 15px;
    font-weight: bold;
    color: Green;
}

.choosenPaymentAmountOpenPaymentBigAndColorful * {
    font-size: 15px;
    font-weight: bold;
    color: #FF671E;
}


/*.SimpleFormChange480_12120-2 {*/


/*    margin-left: -50px;*/


/*}*/

.SimpleFormChange480_12120-2 * {
    font-size: 15px;
    font-weight: bold;
    color: Green;
}


/*.SimpleFormChange480_12120-2BigAndColorful {*/


/*    margin-left: -50px;*/


/*}*/

.SimpleFormChange480_12120-2BigAndColorful * {
    font-size: 15px;
    font-weight: bold;
    color: #FF671E;
}

.SimpleFormChange480_12120-2Button {
    margin-left: 65%;
}

.SimpleFormChange480_12120-2Button * {
    font-size: 14px;
    font-weight: normal;
    color: Green;
}

.SimpleFormChange480_12120-2Label {
    margin-top: 13px;
}

.SimpleFormChange480_12120-2ObjectNumber {
    margin-top: 13px;
}